@font-face {
	font-family: Lato;
	src: url(Lato-Light.ttf);
	font-weight: 200;
}

@font-face {
	font-family: Lato;
	src: url(Lato-Regular.ttf);
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

:root {
	--text: black;
	--text-dim: #333;
	--back: white;
	--back-dim: #eee;
	--acnt: #3a8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: white;
		--text-dim: #dadada;
		--back: #112;
		--back-dim: #403838;
		--acnt: salmon;
	}
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Lato', sans-serif;

	color: var(--text);
	background-color: var(--back);
}

main {
	max-width: 26rem;
	padding: 12px;
	margin: 0 auto;
}

main h1 {
	font-size: 2rem;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid var(--text);
}

.speed-container {
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.speed,
#ping {
	font-weight: normal;
	font-size: 2rem;
}

.speed-container > h2 {
	margin: 0;
	font-weight: 300;
	font-size: 1.5em;
}

#ping {
	display: block;
	text-align: center;
	width: 100%;
}

.meter {
	width: 100%;
	height: 1rem;
	border: 1px solid var(--text);
	background-color: var(--back-dim);
}

.meter-inner {
	height: 100%;
	width: 0%;
	background-color: var(--acnt);
}

.speed-container > p {
	flex-basis: 50%;
	flex-shrink: 1;
	margin: 0;
	padding: 4px 0;
	font-weight: 300;
}

#download-range-high, #upload-range-high {
	text-align: right;
}

button {
	display: block;
	width: 100%;

	margin: 12px auto;

	border: 1px solid var(--text);

	color: var(--text);
	font-size: 2rem;
	font-weight: 400;
	font-family: Lato;

	background-color: unset;

	/* blur outwards so it looks slightly lifted */
	box-shadow: 0 0 3px var(--text);
}

button:hover {
	/* very slightly lessen the blur. they've put their
	   finger on it and it's slightly depressed */
	box-shadow: 0 0 2px var(--text);
}

button:active {
	/* action has been taken! move the blur to the inside,
	   top-left corner with a heavy spread. It looks
	   entirely depressed! sunk into the page, even */
	box-shadow: 1px 1px 5px inset var(--text);
}

button:disabled {
	box-shadow: none;
	background-color: var(--back-dim);
}

details {
	margin-top: 12px;
}

details h2 {
	font-size: 1rem;
	font-weight: bold;
	/* i do not want the margin to collapse with the <p> */
	padding: 4px 0;
	margin: 0;
}

details p {
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
}

.note {
	width: 50%;
	margin-left: auto;
	font-size: 0.85rem;
	text-align: right;
}

.note>a {
	color: var(--text);
}
